body {
  background: #333;
}
.center{
	align-items: center;
}
.tf-tree .tf-nc{
	background: orange;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
}

.tf-tree .tf-nc a{
	color: black;
	text-decoration: none;
}


.hii{
	padding: 5px;
	background: white;

}

.small{
	margin-top: 0px;
}

.a {
	padding: none;
}
.head{
	background: orange;
}
